node_modules
.env
.DS_Store
dist
.idea
.turbo
apps/demo-wallet/dist-extension.pem
apps/demo-wallet/dist-extension.crx
coverage
.stryker*
reports
*-results
*-report

packages/walletkit-ios-bridge/build/*
