.widget {
    box-sizing: border-box;
    width: 100%;
    max-width: 370px;
    display: flex;
    flex-direction: column;
}

.selectors {
    margin-bottom: 64px;
}

.input {
    margin-bottom: 16px;
}

.converted {
    margin-bottom: 64px;
}

.presets {
    margin-bottom: 16px;
}
