.avatarRoot {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	overflow: hidden;
	user-select: none;
	width: 45px;
	height: 45px;
	border-radius: 100%;
	background-color: var(--ta-color-block);
}

.avatarImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: inherit;
}

.avatarFallback {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	color: var(--ta-color-block-foreground);
	font-size: 15px;
	line-height: 1;
	font-weight: 500;
}
