:root {
  /* Font */
  --ta-font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', Arial, Tahoma, Verdana, sans-serif;
  
  /* Typography */
  /* Headings */
  --ta-heading1-font-size: 32px;
  --ta-heading1-font-weight: 700;
  --ta-heading1-line-height: normal;

  --ta-heading2-font-size: 28px;
  --ta-heading2-font-weight: 700;
  --ta-heading2-line-height: normal;

  --ta-heading3-font-size: 24px;
  --ta-heading3-font-weight: 700;
  --ta-heading3-line-height: normal;

  --ta-heading4-font-size: 20px;
  --ta-heading4-font-weight: 700;
  --ta-heading4-line-height: normal;

  --ta-heading5-font-size: 18px;
  --ta-heading5-font-weight: 700;
  --ta-heading5-line-height: normal;

  /* Body */
  --ta-body-large-font-size: 16px;
  --ta-body-large-line-height: 24px;
  --ta-body-large-font-weight: 400;
  --ta-body-large-medium-font-weight: 500;
  
  --ta-body-font-size: 14px;
  --ta-body-line-height: 20px;
  --ta-body-font-weight: 400;
  --ta-body-medium-font-weight: 500;
  --ta-body-bold-font-weight: 700;

  --ta-body-small-font-size: 12px;
  --ta-body-small-line-height: 16px;
  --ta-body-small-font-weight: 400;

  /* Caption */
  --ta-caption1-font-size: 12px;
  --ta-caption1-line-height: 16px;
  --ta-caption1-font-weight: 400;

  --ta-caption2-font-size: 10px;
  --ta-caption2-line-height: 12px;
  --ta-caption2-font-weight: 400;

  /* Colors */
  --ta-color-primary: #0098EB;
  --ta-color-primary-foreground: #ffffff;
  --ta-color-text: #000000;
  --ta-color-text-secondary: #8e8e93;
  --ta-color-background: #ffffff;
  --ta-color-background-secondary: #f2f2f7;
  --ta-color-block: #ffffff;
  --ta-color-block-foreground: #000000;

  /* Static Colors */
  --ta-color-white: #ffffff;
  --ta-color-black: #000000;
  --ta-color-ton: #0098EB;

  /* Border Radius */
  --ta-border-radius-s: 4px;
  --ta-border-radius-m: 8px;
  --ta-border-radius-l: 12px;
  --ta-border-radius-xl: 16px;
  --ta-border-radius-full: 9999px;

  /* Border Width */
  --ta-border-width-s: 1px;
  --ta-border-width-m: 2px;
}

[data-ta-theme='dark'] {
  --ta-color-primary: #0098EB;
  --ta-color-primary-foreground: #ffffff;
  --ta-color-text: #ffffff;
  --ta-color-text-secondary: #8e8e93;
  --ta-color-background: #000000;
  --ta-color-background-secondary: #1c1c1e;
  --ta-color-block: #121214;
  --ta-color-block-foreground: #ffffff;
}
