:root {
  /* Font */
  --ta-font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', Arial, Tahoma, Verdana, sans-serif;
  --ta-font-family-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  
  /* Typography */
  /* Body */
  --ta-body-font-size: 14px;
  --ta-body-line-height: 20px;
  --ta-body-font-weight: 400;
  --ta-body-medium-font-weight: 500;
  --ta-body-bold-font-weight: 700;

  /* Caption */
  --ta-caption1-font-size: 12px;
  --ta-caption1-line-height: 16px;
  --ta-caption1-font-weight: 400;

  --ta-caption2-font-size: 10px;
  --ta-caption2-line-height: 12px;
  --ta-caption2-font-weight: 400;

  /* Input Sizes */
  --ta-input-s-font-size: 16px;
  --ta-input-s-font-weight: 400;
  --ta-input-s-line-height: 24px;

  --ta-input-m-font-size: 24px;
  --ta-input-m-font-weight: 600;
  --ta-input-m-line-height: 30px;

  --ta-input-l-font-size: 32px;
  --ta-input-l-font-weight: 700;
  --ta-input-l-line-height: 40px;

  /* Colors */
  --ta-color-primary: #0098EB;
  --ta-color-primary-foreground: #ffffff;
  --ta-color-text: #000000;
  --ta-color-text-secondary: #8e8e93;
  --ta-color-background: #ffffff;
  --ta-color-background-secondary: #f2f2f7;
  --ta-color-block: #ffffff;
  --ta-color-block-foreground: #000000;

  /* Static Colors */
  --ta-color-white: #ffffff;
  --ta-color-black: #000000;
  --ta-color-ton: #0098EB;

  /* Border Radius */
  --ta-border-radius-s: 4px;
  --ta-border-radius-m: 8px;
  --ta-border-radius-l: 12px;
  --ta-border-radius-xl: 16px;
  --ta-border-radius-full: 9999px;

  /* Border Width */
  --ta-border-width-s: 1px;
  --ta-border-width-m: 2px;
}

[data-ta-theme='dark'] {
  --ta-color-primary: #0098EB;
  --ta-color-primary-foreground: #ffffff;
  --ta-color-text: #ffffff;
  --ta-color-text-secondary: #8e8e93;
  --ta-color-background: #000000;
  --ta-color-background-secondary: #1c1c1e;
  --ta-color-block: #121214;
  --ta-color-block-foreground: #ffffff;
}
