/* Body */
.bodyMedium {
  font-family: var(--ta-font-family);
  font-size: var(--ta-body-font-size);
  line-height: var(--ta-body-line-height);
  font-weight: var(--ta-body-medium-font-weight);
}

.bodyBold {
  font-family: var(--ta-font-family);
  font-size: var(--ta-body-font-size);
  line-height: var(--ta-body-line-height);
  font-weight: var(--ta-body-bold-font-weight);
}

/* Caption */
.caption1 {
  font-family: var(--ta-font-family);
  font-size: var(--ta-caption1-font-size);
  line-height: var(--ta-caption1-line-height);
  font-weight: var(--ta-caption1-font-weight);
}

.caption2 {
  font-family: var(--ta-font-family);
  font-size: var(--ta-caption2-font-size);
  line-height: var(--ta-caption2-line-height);
  font-weight: var(--ta-caption2-font-weight);
}

/* Input Typography */
.inputS {
  font-family: var(--ta-font-family);
  font-size: var(--ta-input-s-font-size);
  font-weight: var(--ta-input-s-font-weight);
  line-height: var(--ta-input-s-line-height);
}

.inputM {
  font-family: var(--ta-font-family);
  font-size: var(--ta-input-m-font-size);
  font-weight: var(--ta-input-m-font-weight);
  line-height: var(--ta-input-m-line-height);
}

.inputL {
  font-family: var(--ta-font-family);
  font-size: var(--ta-input-l-font-size);
  font-weight: var(--ta-input-l-font-weight);
  line-height: var(--ta-input-l-line-height);
}
