.currencyItem {
    box-sizing: border-box;
    border-radius: var(--ta-border-radius-l);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    padding: 12px;
    background-color: var(--ta-color-block);
    transition: border-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    border: 1px solid transparent;
    outline: none;
}

.currencyItem:hover {
    border-color: var(--ta-color-primary);
}

.icon {
    width: 40px;
    height: 40px;
    background-color: var(--ta-color-background-secondary);
    border-radius: var(--ta-border-radius-full);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-shrink: 0;
}

.info {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.name {
    composes: bodyBold from "../../../../styles/typography.module.css";

    color: var(--ta-color-text);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.verified {
    width: 16px;
    height: 16px;
    color: var(--ta-color-primary);
    flex-shrink: 0;
}

.ticker {
    composes: bodyMedium from "../../../../styles/typography.module.css";

    color: var(--ta-color-text-secondary);
    margin: 0;
}

.details {
    text-align: right;
}

.balance {
    composes: bodyMedium from "../../../../styles/typography.module.css";

    color: var(--ta-color-text);
    margin: 0;
}
